<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://img.icons8.com/cotton/344/happy-study--v1.png">
    {{{_sections.title}}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all"
        rel="stylesheet" type="text/css" />
    {{!-- <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css" /> --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive_home.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/search_result.css">
    <link rel="stylesheet" href="/css/detail_style.css">
    <link rel="stylesheet" href="/css/check_out.css">
    <link rel="stylesheet" href="/css/add_product.css">
    <link rel="stylesheet" href="/css/responsive_add_product.css">
    <link rel="stylesheet" href="/css/order_management.css">
    <link rel="stylesheet" href="/css/product_management.css">
    <link rel="stylesheet" href="/css/purchase_history.css">
    <link rel="stylesheet" href="/css/jqpaginator.css">
    {{!-- <link rel="stylesheet" href="/css/product_list.css"> --}}
    <link rel="stylesheet" href="/css/order_confirm.css">
    <link rel="stylesheet" href="/css/order_detail.css">

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header-main">
                <a class="header-logo" href="/">
                    <img class="img-fluid" src="/assets/img/logo_not_slogan.png">
                    <img class="img-fluid" src="/assets/img/logo.png">
                </a>
                <div class="header-search">
                    <form action="/products">
                        <div class="input-group">
                            <button class="btn btn-outline-secondary" type="submit"><i
                                    class="fas fa-search"></i></button>
                            <input id="searchBox" class="form-control" type="text" placeholder="Nhập từ khóa tìm kiếm"
                                name="q">
                        </div>
                    </form>
                </div>
                <div class="header-control">
                    <div class="announce">
                        <div class="dropdown-noti">
                            <button class="btn btn-default" type="button" id="dropdown-notification"
                                data-bs-toggle="dropdown" aria-expanded="false" onclick="removeShake()">
                                <div class="icon">
                                    {{!-- Bell will shake when new notification arrive --}}
                                    <i class="fa-solid fa-bell"></i>
                                </div>
                                <div class="text">
                                    Thông báo
                                </div>
                            </button>
                            {{!-- Populated notification --}}
                            <ul class="dropdown-menu" aria-labelledby="dropdown-notif" data-bs-backdrop="static">
                                <div class="item-container">
                                    <span class="total-item" style="display: none;">{{lcTotalNotis.count}}</span>
                                    {{#if lcDisplayNotis}}
                                    {{#each lcDisplayNotis}}
                                    <li class="item">
                                        <a class="dropdown-item" href="/order/detail/{{_id}}">
                                            <img
                                                src="https://cdn.shopify.com/s/files/1/0024/9803/5810/products/517518-Product-0-I-637756975358868585_a1f8076b-3e38-4c5b-8f52-3a088f73731e_540x540.jpg?v=1658208964">
                                            <div class="order-info">
                                                <p>{{title}}</p>
                                                <small class="text-muted">Thời gian đặt hàng: {{date}}</small>
                                            </div>
                                            <span class="ms-4">{{description}}</span>
                                        </a>
                                    </li>
                                    {{/each}}
                                    {{else}}
                                    <div class="empty-notification">
                                        Không có thông báo nào
                                    </div>
                                    {{/if}}
                                </div>
                                {{#if lcDisplayNotis}}
                                {{#if lcIsMoreThanTen}}
                                <div class="noti-control">
                                    <button><i class="fa-solid fa-angle-down"></i>Hiển thị thêm thông báo</button>
                                </div>
                                {{/if}}
                                {{/if}}
                            </ul>
                            {{!-- Empty notification --}}
                            {{!-- <ul class="dropdown-menu" aria-labelledby="dropdown-notif">
                                <div class="text-muted empty-noti">
                                    <i class="fa-solid fa-bell-slash fa-6x"></i>
                                    <p>Không có thông báo</p>
                                </div>
                            </ul> --}}
                        </div>
                    </div>
                    <div class="cart">
                        <a href="/cart">
                            <div class="icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span id="cartNumStr" class="cart-number">{{lcTotalInCart}}</span>
                                <input type="hidden" id="cartNum" value="{{lcTotalInCart}}">
                            </div>
                            <div class="text">
                                Giỏ hàng
                            </div>
                        </a>
                    </div>
                    <div class="login">
                        {{#if lcAuthUser}}
                        <div class="dropdown-info">
                                <button class="btn btn-default dropdown-toggle" type="button" 
                                    id="dropdown-information"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{#if lcAuthUser.avt}}
                                        <img src="{{lcAuthUser.avt}}" alt="logo" crossorigin="anonymous" 
                                            referrerpolicy="no-referrer">
                                    {{else}}
                                        <i class="fa-regular fa-circle-user"></i>
                                    {{/if}}

                                    {{lcAuthUser.name}}
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown-infor">
                                    <li><a class="dropdown-item" href="/profile">Thông tin cá nhân</a></li>
                                    {{#if (ifCond lcAuthUser.id_permission '===' 1)}}
                                    <li>
                                        <a class="dropdown-item" href="/purchased-history">
                                            Lịch sử mua hàng
                                        </a>
                                    </li>
                                    {{/if}}
                                    {{#if (ifCond lcAuthUser.id_permission '===' 2)}}
                                    <li>
                                        <a class="dropdown-item" href="/orders/management">
                                            Quản lý đơn hàng
                                        </a>
                                    </li>
                                    {{/if}}
                                    {{#if (ifCond lcAuthUser.id_permission '===' 3)}}
                                    <li>
                                        <a class="dropdown-item" href="/products/management">
                                            Quản lý sản phẩm
                                        </a>
                                    </li>
                                    {{/if}}
                                    <li><a class="dropdown-item" href="#" onclick="logout(); return false;"><i
                                                class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</a></li>
                                </ul>
                        </div>
                        {{else}}
                        <a href="/login">
                            <label for="nav-input" class="icon">
                                <i class="fa-regular fa-circle-user"></i>
                            </label>
                            <div class="text">
                                Đăng nhập
                            </div>
                        </a>


                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </header>
    <ul class="menu-main">

        <div class="container">
            <label for="nav-input" class="menu-bar-tablet"><i class="fa-solid fa-bars"></i></label>
            <a href="/" class="menu-main__item">Trang chủ</a>
            <a class="menu-main__item">Sản phẩm</a>
            <a class="menu-main__item">Khuyến mại</a>
            <a href="/about-us" class="menu-main__item">Liên hệ</a>
        </div>
    </ul>
    <!-- for Mobile -->
    <div>
        <ul class="nav__mobile__bottom">
            <label for="nav-input" class="item">
                <i class="fa-solid fa-bars"></i>
                <h4>Danh mục</h4>
            </label>
            <li class="item">
                <i class="fa-solid fa-store"></i>
                <h4>Sản phẩm</h4>
            </li>
            <li class="item active">
                <i class="fa-solid fa-house .icon"></i>
                <h4>Trang chủ</h4>
            </li>
            <li class="item">
                <i class="fa-solid fa-sack-dollar"></i>
                <h4>Khuyến mại</h4>
            </li>
            <li class="item" onclick="window.location.href='/about-us'">
                <i class="fa-solid fa-address-book"></i>
                <h4>Liên hệ</h4>
            </li>
        </ul>
    </div>

    <input type="checkbox" id="nav-input">
    <label for="nav-input" class="overlay"></label>
    <ul class="nav__mobile" title="close">
        <label for="nav-input" class="close">
            <i class="fa-solid fa-x"></i>
        </label>
        <div class="nav__content">
            <div class="branch">
                <a href="/"><img src="/assets/img/logo.png" alt="logo"></a>
            </div>
            <div class="user">
                {{#if lcAuthUser}}
                <div class="user__logged">
                    {{!-- <div class="login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>{{lcAuthUser.name}}</p>

                    </div> --}}
                    <div class="logged">
                        <a href="/profile" class="logged__info">
                            {{#if lcAuthUser.avt}}
                                    <img src="{{lcAuthUser.avt}}" alt="logo" crossorigin="anonymous" referrerpolicy="no-referrer">
                                {{else}}
                                    <i class="fa-regular fa-circle-user"></i>
                                {{/if}}
                            <div class="logged-name">
                                <p>Hi, <b>{{lcAuthUser.name}}</b></p>
                                {{#if (ifCond lcAuthUser.id_permission '===' 1)}}
                                    <a href="/purchased-history" class="logged-purchased">Lịch sử mua hàng</a>
                                {{/if}}
                                {{#if (ifCond lcAuthUser.id_permission '===' 2)}}
                                    <br>
                                    <a href="/orders/managment" class="logged-purchased">Quản lý đơn hàng</a>
                                {{/if}}
                                {{#if (ifCond lcAuthUser.id_permission '===' 3)}}
                                    <br>
                                    <a href="/products/management" class="logged-purchased">Quản lý sản phẩm</a>
                                {{/if}}
                            </div>

                        </a>
                        <a href="#" onclick="logout(); return false;"><i title="Đăng xuất"
                                class="fa-solid fa-arrow-right-from-bracket sign-out"></i></a>
                    </div>

                </div>
                {{else}}
                <a href="/login">
                    <div class="login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>Đăng nhập</p>
                    </div>
                </a>
                <div class="register">
                    <i class="fa-solid fa-user-plus"></i>
                    <p>Đăng ký</p>
                </div>
                {{/if}}

            </div>
            <!-- <div class="nav_navbar">
                <div class="nav_navbar__title">
                    <b>Thông tin</b>
                </div>
                <ul>
                    <li class="menu-main__item">Trang chủ</li>
                    <li class="menu-main__item">Sản phẩm</li>
                    <li class="menu-main__item">Khuyến mại</li>
                    <li class="menu-main__item">Liên hệ</li>
                </ul>
            </div> -->
            <div class="menu-category">
                <div class="menu-category__title">
                    <b>Danh mục sản phẩm</b>
                </div>
                <ul>

                    {{#each lcCategories}}
                    <li>
                        <a href="/categories/{{id}}" class="menu-category__item">
                            <i class="{{ico}}"></i>
                            <p>{{name}}</p>
                        </a>
                    </li>
                    {{/each}}


                </ul>
            </div>
        </div>
    </ul>

    {{{body}}}
    
    {{!-- Toast --}}
    <div class="toast-container position-fixed bottom-0 end-0">
        <div id="liveToast" class="toast noti-toast" role="alert" aria-live="assertive" 
            aria-atomic="true" data-bs-autohide="true">
            <div class="toast-body">
                <i class=""></i>
                <span id="notiContent"></span>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer>
        <!-- Footer social media section -->
        <section class="footer-social-media container">
            <!-- Left -->
            <div>
                <span>Liên hệ với chúng tôi thông qua các kênh: </span>
            </div>
            <!-- Left end-->
            <!-- Right -->
            <div class="footer-icon-container">
                <a href="" class="footer-social-media-icon">
                    <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="" class="footer-social-media-icon">
                    <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                </a>
                <a href="" class="footer-social-media-icon">
                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="" class="footer-social-media-icon">
                    <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                </a>
                <a href="" class="footer-social-media-icon">
                    <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
            <!-- Right end-->

        </section>
        <!-- Footer social media section end here -->
        <!-- Footer members information and links section -->

        <section class="footer-info">
            <!--Left-->
            <div class="footer-info-company">
                <h3>CÔNG TY CỔ PHẦN THƯƠNG MẠI - BESTGEAR</h3>
                <p>2022-2023 Công ty cổ phần thương mại - dịch vụ BestGear</p>
                <h4>Địa chỉ trụ sở chính:</h4>
                <p> 227 Nguyễn Văn Cừ, phường 4, quận 5, Thành phố Hồ Chí Minh</p>
            </div>
            <!--Left end-->
            <!--Right-->
            <div class="footer-info-members">
                <h4>Thành viên</h4>
                <p>Nguyễn Trần Ngọc Tú - 19127610</p>
                <p>Vũ Tuấn Hải - 19127387</p>
                <p>Nguyễn Bảo Duy - 19127376</p>
                <p>Đỗ Đình Văn - 19127624</p>
                <p>Tăng Thanh Quang - 19127531</p>
            </div>
            <div class="footer-info-emails">
                <h4>Email</h4>
                <a href="#">19127610@student.hcmus.edu.vn</a>
                <br>
                <a href="#">19127387@student.hcmus.edu.vn</a>
                <br>
                <a href="#">19127376@student.hcmus.edu.vn</a>
                <br>
                <a href="#">19127624@student.hcmus.edu.vn</a>
                <br>
                <a href="#">19127531@student.hcmus.edu.vn</a>
            </div>
            <!--Right end-->

        </section>
        <!-- Footer members information and links section end here  -->
        <!-- Footer copyright section -->
        <section class="footer-copyright">
            <div>
                © 2022 19KTPM:
                <a href="#">UIUX-19CLC</a>
            </div>

        </section>
        <!-- Footer copyright section end here -->
    </footer>
    <!-- Footer end here-->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
    integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/js/jqpaginator.js"></script>
<script src="/js/notification.js"></script>
<script src="/js/scripts.js"></script>

{{#if lcAuthUser}}
<script>
    // ws
    let HOST = location.origin.replace(/^http/, 'ws');
    console.log(HOST);
    let ws = new WebSocket(HOST + '/ws');

    ws.onopen = function () {
        // ws.send("{\"num\": 1}");
    }

    ws.onmessage = function (event) {
        const result = JSON.parse(event.data);
        console.log(result);
        console.log("Title " + result['title']);
        var message = '';
        const notiToast = document.querySelector('#liveToast');
        const notiToastIcon = document.querySelector('#liveToast i');
        if(result['description'] === 'Chờ xác nhận'){
            message = result["title"] + " của bạn đang chờ xác nhận";
            notiToast.style.borderColor = 'var(--pending-color)';
            notiToastIcon.style.color = 'var(--pending-color)';
        }
        else if(result['description'] === 'Đã xác nhận'){
            message = result["title"] + " của bạn đã được xác nhận";
            notiToast.style.borderColor = 'var(--approved-color)';
            notiToastIcon.className = 'svg-inline--fa fa-solid fa-check';
            notiToastIcon.style.color = 'var(--approved-color)';
        }
        else if(result['description'] === 'Đang giao'){
            message = result["title"] + " của bạn đang được giao";
            notiToast.style.borderColor = 'var(--approved-color)';
            notiToastIcon.className = 'svg-inline--fa fa-solid fa-truck';
            notiToastIcon.style.color = 'var(--approved-color)';
        }
        else if(result['description']=== 'Giao thành công'){
            message = result["title"] + " của bạn đã được giao thành công";
            notiToast.style.borderColor = 'var(--back-color)';
            notiToastIcon.className = 'svg-inline--fa fa-solid fa-clipboard-check';
            notiToastIcon.style.color = 'var(--back-color)';
        }
        else if(result['description'] === 'Bị hủy'){
            message = result["title"] + " của bạn đã bị huỷ";
            notiToast.style.borderColor = 'var(--failed-color)';
            notiToastIcon.className = 'svg-inline--fa fa-solid fa-circle-x';
            notiToastIcon.style.color = 'var(--failed-color)';
        }
        console.log(notiToastIcon);
        console.log(message);
        showToast(message);
    }
</script>
{{/if}}

{{{_sections.js}}}

</html>