{{#section 'title'}}
<title>Quản lý sản phẩm - BestGear</title>
{{/section}}
<div class=" management-product">
    <div class="management-header">
        <div class="title">Quản lý sản phẩm</div>
        <div class="dropdown dropdown-category">
            <button class="btn btn-secondary dropdown-toggle" type="button" aria-haspopup="false"
                id="manage-product-category" data-bs-toggle="dropdown" aria-expanded="false">
                Tất cả
            </button>
            <ul class="dropdown-menu" aria-labelledby="manage-product-category">
                <li><a class="dropdown-item" href="#"><i
                            class="fa-solid fa-laptop"></i> Tất cả</a></li>
                {{#each lcCategories}}
                    <li>
                        <a href="#" onclick="return false;" class="dropdown-item">
                            <i class="{{ico}}"></i> {{name}}
                            <p style="display: none;" >{{id}}</p>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <table class="product-list table table-striped">
        <thead>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Ảnh đại diện</th>
            <th>Giá gốc</th>
            <th>Giá khuyến mại</th>
            <th>Tồn kho</th>
            <th>Xóa sản phẩm</th>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td data-href="/products/{{this._id}}">
                        <a href="/products/{{this._id}}" target="_blank">{{this._id}}</a>
                    </td>
                    <td>
                        <a class="name" href="/products/{{this._id}}" target="_blank">{{this.title}}</a>
                    </td>
                    <td>
                        <a href="/products/{{this._id}}" target="_blank"><img
                                src="{{getImgLink this.thumb}}"
                                alt="photo"></a>
                    </td>
                    <td class="discount-price">{{format_number this.price}}đ</td>
                    <td class="real-price">{{format_number this.sale_price}}đ</td>

                    <td>{{format_number this.stock}}</td>
                    <td class="btn-management">
                        {{!-- input hidden để lưu id sản phẩm trả về --}}
                        <input type="hidden" value="{{this._id}}">
                        <a href="/products/edit/{{_id}}"class="btn-edit"><i class="fa-solid fa-pen-to-square"></i></a>
                        <button type="button" class="btn btn-default" data-bs-toggle="modal"
                            data-bs-target="#manageProductModal">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="pagination-container">
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="manageProductModal" tabindex="-1" aria-labelledby="manageProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa sản phẩm </p>
                    <b>Ghế DXRACER - Drifting Series OH/DJ133/NR?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Xóa</button>
                </div>
            </div>
        </div>
    </div>

</div>

{{#section 'js'}}
<script src="/js/product_management.js"></script>
<script>
    $('.pagination-container').jqpaginator({
        data: createData({{totalProducts}}),
        render: renderer
    });
</script>
{{/section}}