{{#section 'title'}}
<title>{{product.title}} Tìm kiếm: {{keyword}} - BestGear</title>
{{/section}}

<div class="container">
    {{#if keyword}}
    <h1 id="search-result-text">Kết quả tìm kiếm cho: {{keyword}}</h1>
    {{/if}}
    <div class="sort-container">
        <div class="dropdown dropdown-category">
            <button class="btn btn-secondary dropdown-toggle" type="button" aria-haspopup="false"
                id="manage-product-category" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>  Danh mục sản phẩm
            </button>
            <ul class="dropdown-menu" aria-labelledby="product-category">
                <li><a class="dropdown-item" href="#"><i
                            class="fa-solid fa-bars"></i> Tất cả</a></li>
                {{#each lcCategories}}
                <li>
                    <a href="#" onclick="return false;" class="dropdown-item">
                        <i class="{{ico}}"></i> {{name}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        
        <h3>Sắp xếp theo</h3>
        <ul class="sort-choice">
            <li class="sort-item active">
                <div>
                    Khuyến mãi tốt nhất
                </div>
                <div class="sort-active">
                </div>
                <span class="sort-active-check"><i class="fa fa-check"></i></span>
            </li>
            <li class="sort-item">
                <div>
                    Bán chạy
                </div>
            </li>
            <li class="sort-item">
                <div>
                    Mới về
                </div>
            </li>
            <li class="sort-item">
                <div>
                    Giá giảm dần
                </div>
            </li>
            <li class="sort-item">
                <div>
                    Giá tăng dần
                </div>
            </li>
        </ul>
    </div>
    <div class="search-result-container">
        {{#each products}}
            <a href="/products/{{_id}}" class="product-item product-item--col">
                <div class="thumbnail">
                    {{#if percentSale}}
                        <span class="discount">{{percentSale}}%</span>
                    {{/if}}
                    
                    <div class="icon-action">
                        <div class="icon-action__item"><i class="fa-solid fa-eye"></i></div>
                        <div class="icon-action__item"><i class="fa-solid fa-basket-shopping"></i>
                        </div>
                        <div class="icon-action__item"><i class="fa-solid fa-heart"></i></div>
                    </div>
                    <img class="img-fluid" src="{{getImgLink thumb}}" alt="">
                </div>
                <div class="product-desc">
                    <h4 class="name-product"><b>{{title}}</b></h4>
                    <div class="star-comment">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="product-price"><b>{{format_number sale_price}} đ</b><span class="true-price">{{format_number price}} đ</span></b>
                    </div>
                    <button class="buy-now">Mua ngay</button>
                </div>
            </a>
        {{/each}}
    </div>
    <div class="pagination-container">
        
    </div>
</div>

{{#section 'js'}}
<script src="/js/search.js"></script>
<script>
    $('.pagination-container').jqpaginator({
        data: createData({{totalProducts}}),
        render: renderer
    });
</script>
{{/section}}