{{#section 'title'}}
<title>{{product.title}} - Kết quả tiềm kiếm - BestGear</title>
{{/section}}

<div class="container">
    <h1 id="search-result-text">Kết quả tìm kiếm cho: văn đẹp trai vô địch</h1>
    <div class="sort-container">
        <h3>Sắp xếp theo</h3>
        <ul class="sort-choice">
            <li class="sort-item active">
                <div>
                    Khuyến mãi tốt nhất
                </div>
                <div class="sort-active">
                </div>
                <span class="sort-active-check"><i class="fa fa-check"></i></span>
            </li>
            <li class="sort-item">
                <div>
                    Bán chạy
                </div>
            </li>
            <li class="sort-item">
                <div>
                    Mới về
                </div>
            </li>
            <li class="sort-item">
                <div>
                    Giá giảm dần
                </div>
            </li>
            <li class="sort-item">
                <div>
                    Giá tăng dần
                </div>
            </li>
        </ul>
    </div>
    <div class="search-result-container">
        <a href="/products/{{_id}}" class="product-item product-item--col">
            <div class="thumbnail">
                <span class="discount">{{percentSale}}%</span>
                <div class="icon-action">
                    <div class="icon-action__item"><i class="fa-solid fa-eye"></i></div>
                    <div class="icon-action__item"><i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="icon-action__item"><i class="fa-solid fa-heart"></i></div>
                </div>
                <img class="img-fluid" src="{{getImgLink thumb}}" alt="">
            </div>
            <div class="product-desc">
                <h4 class="name-product"><b>{{title}}</b></h4>
                <div class="star-comment">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                {{!-- <div class="sold-number">Đã bán: <b>{{format_number sold}}</b></div> --}}
                <div class="product-price"><b>{{format_number sale_price}} đ</b><span class="true-price">{{format_number
                        price}} đ</span></b>
                </div>
                <button class="buy-now">Mua ngay</button>
            </div>
        </a>
        <a href="/products/{{_id}}" class="product-item product-item--col">
            <div class="thumbnail">
                <span class="discount">{{percentSale}}%</span>
                <div class="icon-action">
                    <div class="icon-action__item"><i class="fa-solid fa-eye"></i></div>
                    <div class="icon-action__item"><i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="icon-action__item"><i class="fa-solid fa-heart"></i></div>
                </div>
                <img class="img-fluid" src="{{getImgLink thumb}}" alt="">
            </div>
            <div class="product-desc">
                <h4 class="name-product"><b>{{title}}</b></h4>
                <div class="star-comment">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                {{!-- <div class="sold-number">Đã bán: <b>{{format_number sold}}</b></div> --}}
                <div class="product-price"><b>{{format_number sale_price}} đ</b><span class="true-price">{{format_number
                        price}} đ</span></b>
                </div>
                <button class="buy-now">Mua ngay</button>
            </div>
        </a>
        <a href="/products/{{_id}}" class="product-item product-item--col">
            <div class="thumbnail">
                <span class="discount">{{percentSale}}%</span>
                <div class="icon-action">
                    <div class="icon-action__item"><i class="fa-solid fa-eye"></i></div>
                    <div class="icon-action__item"><i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="icon-action__item"><i class="fa-solid fa-heart"></i></div>
                </div>
                <img class="img-fluid" src="{{getImgLink thumb}}" alt="">
            </div>
            <div class="product-desc">
                <h4 class="name-product"><b>{{title}}</b></h4>
                <div class="star-comment">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                {{!-- <div class="sold-number">Đã bán: <b>{{format_number sold}}</b></div> --}}
                <div class="product-price"><b>{{format_number sale_price}} đ</b><span class="true-price">{{format_number
                        price}} đ</span></b>
                </div>
                <button class="buy-now">Mua ngay</button>
            </div>
        </a>
        <a href="/products/{{_id}}" class="product-item product-item--col">
            <div class="thumbnail">
                <span class="discount">{{percentSale}}%</span>
                <div class="icon-action">
                    <div class="icon-action__item"><i class="fa-solid fa-eye"></i></div>
                    <div class="icon-action__item"><i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="icon-action__item"><i class="fa-solid fa-heart"></i></div>
                </div>
                <img class="img-fluid" src="{{getImgLink thumb}}" alt="">
            </div>
            <div class="product-desc">
                <h4 class="name-product"><b>{{title}}</b></h4>
                <div class="star-comment">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                {{!-- <div class="sold-number">Đã bán: <b>{{format_number sold}}</b></div> --}}
                <div class="product-price"><b>{{format_number sale_price}} đ</b><span class="true-price">{{format_number
                        price}} đ</span></b>
                </div>
                <button class="buy-now">Mua ngay</button>
            </div>
        </a>
        </a>
        <a href="/products/{{_id}}" class="product-item product-item--col">
            <div class="thumbnail">
                <span class="discount">{{percentSale}}%</span>
                <div class="icon-action">
                    <div class="icon-action__item"><i class="fa-solid fa-eye"></i></div>
                    <div class="icon-action__item"><i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="icon-action__item"><i class="fa-solid fa-heart"></i></div>
                </div>
                <img class="img-fluid" src="{{getImgLink thumb}}" alt="">
            </div>
            <div class="product-desc">
                <h4 class="name-product"><b>{{title}}</b></h4>
                <div class="star-comment">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                {{!-- <div class="sold-number">Đã bán: <b>{{format_number sold}}</b></div> --}}
                <div class="product-price"><b>{{format_number sale_price}} đ</b><span class="true-price">{{format_number
                        price}} đ</span></b>
                </div>
                <button class="buy-now">Mua ngay</button>
            </div>
        </a>
        <a href="/products/{{_id}}" class="product-item product-item--col">
            <div class="thumbnail">
                <span class="discount">{{percentSale}}%</span>
                <div class="icon-action">
                    <div class="icon-action__item"><i class="fa-solid fa-eye"></i></div>
                    <div class="icon-action__item"><i class="fa-solid fa-basket-shopping"></i>
                    </div>
                    <div class="icon-action__item"><i class="fa-solid fa-heart"></i></div>
                </div>
                <img class="img-fluid" src="{{getImgLink thumb}}" alt="">
            </div>
            <div class="product-desc">
                <h4 class="name-product"><b>{{title}}</b></h4>
                <div class="star-comment">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                {{!-- <div class="sold-number">Đã bán: <b>{{format_number sold}}</b></div> --}}
                <div class="product-price"><b>{{format_number sale_price}} đ</b><span class="true-price">{{format_number
                        price}} đ</span></b>
                </div>
                <button class="buy-now">Mua ngay</button>
            </div>
        </a>
    </div>
    <div class="pagination-container">
        <a href="#" class="previous-page disable">
            <i class="fa fa-angle-left"></i>
        </a>
        <a href="#" class="page-number active">1</a>
        <a href="#" class="page-number">2</a>
        <a href="#" class="page-number">3</a>
        <a href="#" class="next-page">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>