<div class="container-fluid">
    <div class="card order-section">
        <div class="card-header table-title">
            <div class="row">
                <div class="col-sm-8 align-self-center">
                    <h2>Quản lý đơn hàng</h2>
                </div>
                <div class="col-sm-4 d-flex justify-content-end">
                    <!-- Example single danger button -->
                    <div class="btn-group btn-sort-order">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tất cả
                        </button>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="#">Tất cả</a>
                            <a class="dropdown-item" href="#">Chờ xác nhận</a>
                            <a class="dropdown-item" href="#">Đã xác nhận</a>
                            <a class="dropdown-item" href="#">Đang giao</a>
                            <a class="dropdown-item" href="#">Giao thành công</a>
                            <a class="dropdown-item" href="#">Bị hủy</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="order-table table table-hover">
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Username</th>
                    <th>Số điện thoại</th>
                    <th>Mã voucher</th>
                    <th>Tổng tiền</th>
                    <th>Tình trang</th>
                    <th>Ngày thanh toán</th>
                    <th>Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>
                        <a id="order-id" href="/order/detail/a">
                            {{orders._id}} <i class="fa-solid fa-up-right-from-square fa-2xs"></i>
                        </a>
                    </td>
                    <td>{{_id}}</td>
                    <td>092121212</td>
                    <td>VC1212</td>
                    <td>{{format_number orders.totalPrice}} đ</td>
                    <td>{{convertToState orders.state}}</td>
                    {{#if orders.paidDay}}
                        <td>{{toJSDate orders.paidDay}}</td>
                    {{else}}
                        <td>_</td>
                    {{/if}}
                    <td>
                        <a href="#" class="approve" title="Duyệt" data-toggle="tooltip">
                            <i class="fa-solid fa-square-check fa-xl"></i>
                        </a>
                        <a href="#" class="delete" title="Xóa" data-toggle="tooltip">
                            <i class="fa-solid fa-square-xmark fa-xl"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="pagination-container">
            <input type="hidden" class="total-page" value="{{totalPages}}">
        </div>
    </div>
</div>

{{#section 'js'}}
<script src="/js/search.js"></script>
<script>
    $('.pagination-container').jqpaginator({
        data: createData({{ total }}),
        render: renderer
    });
</script>
{{/section}}