{{#section 'title'}}
<title>Quản lý đơn hàng</title>
{{/section}}

<div class="container-fluid">
    <div class="card order-section">
        <div class="card-header table-title">
            <div class="row">
                <div class="col-sm-8 align-self-center">
                    <h2>Quản lý đơn hàng</h2>
                </div>
                <div class="col-sm-4 d-flex justify-content-end">
                    <!-- Example single danger button -->
                    <div class="btn-group btn-sort-order">
                        <button id="sort-dropdown" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{descState}}
                        </button>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="/orders/management">Tất cả</a>
                            <a class="dropdown-item" href="/orders/management?state=0">Chờ xác nhận</a>
                            <a class="dropdown-item" href="/orders/management?state=1">Đã xác nhận</a>
                            <a class="dropdown-item" href="/orders/management?state=2">Đang giao</a>
                            <a class="dropdown-item" href="/orders/management?state=3">Giao thành công</a>
                            <a class="dropdown-item" href="/orders/management?state=4">Bị hủy</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="order-table table">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Username</th>
                        {{!-- <th>Số điện thoại</th> --}}
                        <th>Tổng tiền</th>
                        <th>Tình trang</th>
                        <th>Ngày thanh toán</th>
                        <th>Tùy chỉnh</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>
                            <a class="order-id" href="/order/detail/{{orders._id}}?user={{_id}}">
                                {{orders._id}} <i class="fa-solid fa-up-right-from-square fa-2xs"></i>
                            </a>
                        </td>
                        <td>
                            {{_id}}
                        </td>
                        {{!-- <td>092121212</td> --}}
                        <td>{{format_number orders.totalPrice}} đ</td>
                        <td>
                            <i class="fa-solid fa-circle fa-2xs"></i> <span>{{convertToStateDesc orders.state}}</span>
                        </td>
                        <td>
                            {{#if orders.paidDay}}
                                {{toJSDate orders.paidDay}}
                            {{else}}
                                _
                            {{/if}}
                        </td>
                        <td>
                            {{#if (ifCond orders.state '<' 3)}}
                                <form method="POST" id="{{orders._id}}-form" action="/orders/management">
                                    <input type="hidden" name="orderId" value={{orders._id}}>
                                    <input type="hidden" name="userId" value={{_id}}>
                                    <input type="hidden" id="{{orders._id}}-type" name="type">
                                    <input type="hidden" name="state" value={{convertToStateNum descState}}>
                                    <input type="hidden" id="{{orders._id}}-page" name="page">
                                    
                                    <button type="submit" class="approve" title="Duyệt" 
                                        data-toggle="tooltip" data-order-id={{orders._id}} 
                                        value=1 onclick="updateBtnType(this)">
                                        <i class="fa-solid fa-square-check fa-xl"></i>
                                    </button>
                                    <button type="submit" class="delete" title="Xóa" 
                                        data-toggle="tooltip" data-order-id={{orders._id}} 
                                        value=0 onclick="updateBtnType(this)">
                                        <i class="fa-solid fa-square-xmark fa-xl"></i>
                                    </button>
                                </form>
                            {{else}}
                                _
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <div class="pagination-container">
            </div>
        </div>
    </div>
</div>

{{#section 'js'}}
<script src="/js/order.js"></script>
<script>
    $('.pagination-container').jqpaginator({
        data: createData({{ total }}),
        render: renderer,
        itemsPerPage: {{limit}}
    });
</script>
{{/section}}