{{#section 'title'}}
<title>Giỏ hàng</title>
{{/section}}
<div class="cart-section">
    <h1>Giỏ hàng</h1>
    <div class="cart-content-section">
        <div class="cart-container">
            <table class="cart-detail">
                <tr>
                    <th>Xoá</th>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá tiền</th>
                </tr>
                {{#each cart.products}}
                    <tr>
                        <td class="cart-remove-product"><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
                        <td>
                            <div class="cart-info">
                                <img src="{{getImgLink thumb}}" alt="{{thumb}}">
                                <div>
                                    <p class="cart-product-name">{{title}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="cart-product-quantity"><input type="number" value="{{quantity}}"></td>
                        <td class="product-price">{{format_number buy_price}} VNĐ</td>
                    </tr>
                {{/each}}
                
            </table>
        </div>
        <div class="payment-container">
            <div class="total-price">
                <table>
                    <tr>
                        <td>Thanh toán</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tạm tính</td>
                        <td>{{format_number cart.totalPrice}} VNĐ</td>
                    </tr>
                    <tr>
                        <td>Phí vận chuyển</td>
                        <td>{{format_number cart.shipPrice}} VNĐ</td>
                    </tr>
                    <tr>
                        <td>Thành tiền</td>
                        <td class="real-total-price ">{{format_number cart.finalPrice}} VNĐ</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="coupon-container">
                                <h3>
                                    Chọn mã giảm giá/phiếu mua hàng
                                </h3>
                                <form>
                                    <input type="text" id="coupon" placeholder="Nhập mã giảm giá" name="coupon">
                                    <input class="apply-coupon-button" type="submit" value="Áp dụng">
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="pay-button">
                                Thanh toán
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>